.jumbotron {
  background-color: #FFFF00;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px;
}
.btn {
  color: black;
}
.footer {
  padding: 10px 10px 0 10px;
  background-color: #FFFF00;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
.color-new {
  color: #0000FF;
  padding-right: 20px;
}
.btn-modal {
  color: #0000FF;
  background-color: #FFFF00;
}
