$yellow: #FFFF00;
$blue: #0000FF;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron{
	background-color: $yellow;
	color: black;
	@include margenes(50px, 10px);
}
.btn{
	color: black; 
}
.footer{
	padding: 10px 10px 0 10px;
	background-color: $yellow;
	@include margenes(10px, 0px);
}
.card-hotel{
	flex: 1 200px;
	@include margenes(10px, 0px);
}
.btn-reserva{
	width: 100%;
	border-radius: 0px;
}
.footer-address-icon{
	padding-right: 10px; 
}
.tab-content{
	padding-top: 10px;
}
.color-new{
	color: $blue;
	padding-right: 20px;
}
.btn-modal{
	color: $blue;
	background-color: $yellow;
}