@yellow: #FFFF00;
@blue: #0000FF;

.margenes(@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}

.jumbotron{
	background-color: @yellow;
	color: black;
	.margenes(50px, 10px);
}
.btn{
	color: black; 
}
.footer{
	padding: 10px 10px 0 10px;
	background-color: @yellow;
	.margenes(10px, 0px);
}
.card-hotel{
	flex: 1 200px; 
	.margenes(10px, 0px);
}
.btn-reserva{
	width: 100%;
}
.footer-address-icon{
	padding-right: 10px; 
}
.tab-content{
	padding-top: 10px;
}
.color-new{
	color: @blue;
	padding-right: 20px;
}
.btn-modal{
	color: @blue;
	background-color: @yellow;
}
